<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/GeneralEYSE")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">EYSE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Administracion/Index">Administracion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Administracion/Index">Registros</a>
                    </li>

                    @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mx-5 px-5 mt-1" id="contenedor">
    </div>

    <template id="template">
        <div class="alert alert-primary alert-dismissible fade " role="alert" id="alertaGeneral">
            <p></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    </template>


    <div class="container body-content">
        @RenderBody()
        
        <footer class="fixed-bottom">
            <hr />
            <p class="text-center"> @DateTime.Now.Year - Registro de Entrada Y Salida de Equipos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
