@using EYSE.Models
@model List<SP_Obtener_Departamentos_Result>
@{
    ViewBag.Title = "DepartamentosIndex";
}

<center><h2>Departamentos</h2></center>
<div class="container mt-4 d-flex justify-content-between">
    <a href="@Url.Action("Index","Administracion")" class="btn btn-outline-success ms-3">Volver</a>
    <button onclick="crearDepartamento()" class="btn btn-outline-success">Nuevo Departamento</button>

    @*<div class="row d-flex justify-content-between  mb-3">
        </div>*@
</div>

<div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-lg-10">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>

                @{ foreach (var item in Model)
                    {

                        <tr>
                            <th scope="row">@item.IdDepartamento</th>
                            <td>@item.Departamento</td>
                            <td><i class="">Detalles</i></td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>

</div>

<div class="row d-flex justify-content-center mb-5">
    <div class="row mt-4 d-flex">
        <div class="col-lg-10 d-flex justify-content-end  mb-3">
            <a href="@Url.Action("AgregarDepartamento")" class="btn btn-outline-success">Agregar Division</a>
        </div>
    </div>
    <div class="card px-0 col-12 col-lg-10">
        <div class="card-header py-1">
            <h6 class="mb-0">Divisiones</h6>

        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre Division</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Sistemas</td>
                        <td><i class="">Detalles</i></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal Agregar Departamento -->
<div class="modal fade" id="modalCrear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Nuevo Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContenido">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>*@
        </div>
    </div>
</div>

@section scripts{
    <script>

        function confirmacion(dni) {

            $("#modalCrear").modal("show");
            let btnEliminar = $("#modalConsulta .modal-footer .btn-outline-danger");
            btnEliminar.on("click", () => {

                $.post('@Url.Action("EnviarEliminarTecnico", "Tecnicos")', { DNI: dni }, function (Response) { RespuestaEliminar(Response) });
            })
        }

        function RespuestaEliminar(Response) {
            $("#modalConsulta").modal("hide");
            if (Response == "Eliminado") {
                setTimeout(window.location.reload(), 1500);
            } else {
                alert("Ocurrio un error, verificar store");
                setTimeout(window.location.reload(), 1000);
            }
        };

        function crearDepartamento() {
            $("#modalCrear").modal("show");
            $("#modalContenido").load('@Url.Action("AgregarDepartamento","Departamentos")');
        }
    </script>
}
